.footer{
  display: flex;
  flex-direction: row;
  background-color: #003366;
  justify-content: space-evenly;
  align-items: center;
  height: 280px;
}

.first{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 220px;

}

.Neo{
  color: rgb(26, 186, 185);
  margin-right: 3px;
  font-weight: bold;
  margin-left: 5px;
}

.dentist{
  color: #003366;
  border-left: solid;
  font-weight: bold;
}
.slogan{
  color: white;
  font-size: small;
}

.footer-btn{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  margin-bottom: 120px;
  justify-content: center;
  text-align: center;
}
.footer-btn a{
  margin-bottom: 10px;
  font-size: small;
  text-decoration: none;
  color: white;
}
.footer-btn a:hover{
  color: rgb(180, 255, 255);
}

.last{
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;
}
.follow {
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
  color: white;
}

.media{
  margin-left: 5px;
  width: 20px;
}