@media (max-width:768px){
  .header {
    flex-direction: column;
    align-items: center;
  }
};

*{
  font-family: CircularStd, sans-serif;
}

.header{
  font-family: CircularStd, sans-serif;
  color: #ffffff;
  height: 100px;
  background-color:#f8f9fa;
  margin-top: 0px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
} 
.nav{
  display: flex;
  justify-content: space-between;

}

.space_logo{
  display: flex;
  width:700px;
}
.p{
  font-size: 30px;
  color: #003366;
  font-weight:bold;
  font-family: CircularStd, sans-serif;
  border-left:solid;
  border-left-width: 3.5px;
  border-left-color:#003366 ;
}
.neo {
  font-size: 30px;
  font-family: CircularStd, sans-serif;
  font-weight: bold;
  color: rgb(26, 186, 185);
  margin-left: 50px;
  margin-right: 2px;
}



.space-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 550px;
}
.a{
  text-decoration: none;
  color: #003366;
  font-family: 600;
}
.a:hover{
  color: rgb(26, 186, 185);
}
.consult{
  background-color: rgb(26, 186, 185);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-family: 600;
}
.consult:hover{
  color: black;
  background-color: rgb(156, 255, 255);
}